services:
  ofelia:
    image: ${REGISTRY}/ofelia
    runtime: crun
    restart: always
    configs:
      - source: ofelia
        target: /etc/ofelia/config.ini
    networks:
      - mssql
    volumes:
      - type: bind
        read_only: true
        source: /var/run/docker.sock
        target: /var/run/docker.sock
